service: lunch-and-learn-logger
frameworkVersion: ">=1.34.0 <2.0.0"

plugins:
  - serverless-plugin-typescript

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules:
      forceExclude:
        - aws-sdk
package:
  include:
    - src/
  exclude:
    - src/**/*.spec.(t|j)s

provider:
  name: aws
  runtime: nodejs10.x
  tracing:
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: Allow
      Action: s3:ListAllMyBuckets
      Resource: "*"
    - Effect: Allow
      Action:
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
      Resource: "*"
functions:
  example:
    handler: src/handlers.handlerExample
    memorySize: 512
    timeout: 30
    events:
      - http:
          path: example
          method: get
          cors: true
          private: false
